
/* = = = = = = = = = = = = = = = = = datei hinweis-alte-ie.css = = = = = = = = = = = = = = = = = = = = = = = = = */


/*
Diese Datei ist nur für den IE8 und darunter liegende Versionen und wird per per Browserweiche IE Conditional Comments eingebunden.
Hiermit wird die Webseite ausgeblendet und ein Hinweistext eingeblendet.

Grund:
[1.] Der Browser Internet Explorer in der Version IE8 und tiefer, beherrscht Techniken wie CSS3 oder die Prozentschrifteinhalt NICHT.
Insbesondere funktionieren die Bildschirmabfragen (Media Queries) dort natürlich nicht.

[2.] Selbst Microsoft unterstützt die älteren IE-Versionen nicht mehr und bietet ab dem 12.01.16 keinen Support mehr für ältere IE-Browser (IE10, IE9, IE8 und tiefer) an. Das bedeutet, es wird ab diesem Zeitpunkt auch von Microsoft keine Updates mehr geben.

Fazit:
aus o.g. Gründen und da der IE8 sowieso kaum noch verwendet wird, haben wir uns entschieden, den IE8 nicht mehr zu unterstützen und zeigen hiermit eine schlichte weiße Seite (background:white) mit schwarzem Hinweistext (color:black) in Schriftgrösse 30px (font-size) an und blenden mit der Anweisung: -display:none- die Webseite aus.

Anmerkung:
Diesen Hinweistext für den -IE8/darunter liegende Versionen- finden sie im Kopf-bereich der HTML-Datei. Gerrne können sie diesen Text anpassen/ändern.

*/


/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

.container_haupt {display: none;
}

body {color:black;
background:white;
font-size:40px;
text-align:center;
padding:20px;
}

body:after {
content:' Betrifft: Browser IE 8! Diese Webseite wird nicht im Browser Internet Explorer Version 8  angezeigt. Die Version 8 des Internet Explorer ist leider veraltet.';
padding:200px;text-align:center;display:block;
}